*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  outline: 1px solid red;
}

body {
  background-color: #1f313f;
}

p,
ul,
ol,
li,
h1,
h2,
h3 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
}

.section {
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
  padding-right: 0;
  width: 1280px;
}

.header {
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav {
}
.nav-list {
  display: flex;
  justify-content: end;
  gap: 40px;
}
.nav-item {
}
.nav-item-link {
}
.hero {
  background-image: url('../img/hero-bg.jpg');
}
.slider {
}
.slider-item {
}
.main-title {
}
.hero-text {
}

/* ======================================================================== */
/* ================= ABOUT ================= */
.about {
}
.about .container {
  padding-left: 64px;
  padding-right: 64px;
}
.section-title {
  margin-bottom: 64px;
  padding-top: 40px;
  padding-bottom: 40px;

  font-size: 21px;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;

  color: #1e313f;
  background-color: #ffffff;
}
.about-img {
  margin-right: 28px;
}
.about .container {
  /* padding-top: 64px;
  padding-bottom: 64px; */
  display: flex;
}
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;

  margin-bottom: 64px;
}
.about-text {
  margin-bottom: 40px;
  font-size: 13px;
  color: #bbc6c8;
}
.about-link {
  display: block;
  padding: 33px;
  max-width: max-content;

  border-radius: 24px;
  border: 2px solid;
  border-top-color: #545454;
  border-left-color: #545454;
  border-right-color: #050608;
  border-bottom-color: #050608;

  font-size: 13px;
  color: #dfca95;
  text-transform: uppercase;
}

/* ================= SERVICES ================= */

.our-services {
}
.services-list {
  display: flex;
  gap: 68px;
  justify-content: center;

  padding: 72px 92px 132px 92px;
  list-style-type: style;
  color: #ffffff;
}
.services-item {
  padding-left: 24px;
}
.services-item-title {
  margin-bottom: 28px;

  font-size: 17px;
  text-transform: uppercase;
  color: #ffffff;
}
.services-item-text {
  font-size: 12px;
  line-height: 1.67;
  color: #bbc6c8;
}

/* ================= EXPERTISE ================= */

.our-expertise {
}
.expertise-text {
}
.expertise-accent {
}
.expertise-list {
}
.expertise-item {
}
.expertise-item-icon {
}
.expertise-item-text {
}

/* ================= PRICES ================= */
.prices .section {
  padding-bottom: 32px;
}
.prices .section-title {
  margin-bottom: 32px;
}
.prices-text {
  font-size: 12px;
  text-align: center;
  color: #bbc6c8;
}

.prices-text.last {
}

.prices-img {
  margin: 40px auto;
}
.footer {
}
.footer .sction-title {
  margin-bottom: 40px;
}
.footer-adress {
  font-style: normal;
}
.footer-map {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 72px;
}
.footer-text {
  margin-bottom: 24px;
  color: #dfca95;
  text-transform: uppercase;
}
.address-link {
  display: block;
  color: #dfca95;
  text-transform: uppercase;
}
.address-link.tel {
  margin-bottom: 24px;
}
